<div class="mainContainer">

  <div class="infoContainer">

    <div id="adventureTitle">
      <h1>{{adventure.title}}</h1>
    </div>
    <div class="adventure-info-wrapper">
      <div class="adventure-info">
        <img id="adventureImage" src={{adventure.images}}>
        <div id="adventureDescription">
          <p class="adventure-description">{{adventure.description}}<p>
        </div>
      </div>
      <div class="review-aside" id="adventureReview">
        <div>
          <h4 id="reviewTitle">Reviews</h4>
          <p id="reviewParagraph">{{adventure.reviews}}</p>
        </div>
        <div>
          <button id="thumbsUp"><img src=" "></button>
          <button id="thumbsDown"><img src=" "></button>
        </div>
      </div>
    </div>
  </div>
  <p class="edit-button" >See something wrong? <a href="/adventures/edit/{{adventure._id}}/">Update this adventure</a></p>

</div>